/* GitHub-style Alerts for APIX IG */
blockquote {
    padding: 0 1em;
    color: #656d76;
    border-left: .25em solid #d0d7de;
    margin: 1em 0;
}

/* Base styles for all alerts */
.markdown-alert {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    color: inherit;
    border-left: 0.25rem solid #d0d7de;
    border-radius: 0 0.3rem 0.3rem 0;
    background-color: #f6f8fa;
}

.markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: 600;
    align-items: center;
    line-height: 1;
    margin-bottom: 0.5rem;
}

/* Note */
.markdown-alert.markdown-alert-note {
    border-left-color: #0969da;
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
    color: #0969da;
}

/* Tip */
.markdown-alert.markdown-alert-tip {
    border-left-color: #1a7f37;
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: #1a7f37;
}

/* Important */
.markdown-alert.markdown-alert-important {
    border-left-color: #8250df;
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
    color: #8250df;
}

/* Warning */
.markdown-alert.markdown-alert-warning {
    border-left-color: #9a6700;
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: #9a6700;
}

/* Caution */
.markdown-alert.markdown-alert-caution {
    border-left-color: #cf222e;
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: #cf222e;
}